$primaryColor:#9356DC;
$secondColor:#FF79DA;
$squareColor:#99E2D0;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@media screen and (max-width:768px){
    

    @mixin squareGreen {
        width: 90px;
        height: 20px;
        color: #488576;
        text-align: center;
        font-weight: 500;
        background-color: $squareColor;
        padding: 5px;
        position: absolute;
        top:15px;
        right: 15px;
    }
    body{
        font-family: 'Roboto', sans-serif;
    }
    *{margin: 0;
    }

    #heading{
        max-width: 100%;
        height: auto;
        padding-bottom: 12px;
        text-align: center;
        margin-top: 30px;
            &_logo{
                width: 40%;
            }
        
    }
    #location{
        height: 60px;
        // color: #488576;
        background-color: rgb(236, 233, 233);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 6px 0px inset;
            &_icon{
                font-size: 18px;
                color: rgb(70, 69, 69);
            }
            &_text{
                font-size: 20px;
                font-weight: bold;
                color:rgb(70, 69, 69);
              
            }

    }
    #info{
        height: 260px;
        background-color:ghostwhite;
        padding-top: 1px;
        text-align: center;
        padding-bottom: 70px;
       
            &_title{
                font-weight: bolder;
                margin: 30px;
            }
            &_text{
                font-size: 20px;
                margin: 30px;
                color: rgb(90, 89, 89);
            }
            &_btn{
                width:60%;
                height: 55px;
                border-radius: 30px;
                background: linear-gradient($secondColor,$primaryColor);
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 3px;
                border: none;
                        
                    &--text{
                        color: white;
                        font-size: 18px;
                    } 
                    &:hover{
                        font-weight: bolder;
                    }  
            }
    }
    .nav_title{
        margin-left: 20px;
        margin-top: 60px;
    }
    .button{
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

            &_design{
                width: 85%;
                height: 70px;
                border: none;
                border-radius: 25px;
                background-color: ghostwhite;
                text-decoration: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    &-number{
                        width: 30px;
                        height: 30px;
                        border-radius: 30px;
                        background-color:$primaryColor;
                        color: white;
                        position: relative;
                        right: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &_icon{
                        color: rgb(116, 114, 114);
                        font-size:20px;
                    }
                    &_text{
                        color: black;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    &:hover &_icon{
                        color: $primaryColor;
                    }
                    &:hover{
                        
                        background-color: rgb(245, 230, 245);
                    }
            }
    }
    #section1{
        width: 100%;
        height: 1350px;
        background-color: ghostwhite;
        &_title{
            padding-top: 50px;
        }
       
         &_container{
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: space-evenly;

                .cards{
                    width: 90%;
                    height: 270px;
                    background-color: white;
                    border-radius: 25px;
                    margin: 20px;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    position: relative;
                   
                    &--new{
                      @include squareGreen; 
                          
                    }
                                       
                    &_image{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 25px 25px 0 0;
                    }
                    &_white{
                        display: flex;
                        justify-content: space-between;
                        margin: 10px;
                       
                        &_text{
                            margin-left: 10px;
                            &-title{
                                margin-bottom: 5px;
                            }
                        }
                        &_heart{
                            font-size: 24px;
                            margin-right: 15px;
                            margin-top: 5px;
                            
                        }
                    }
                }
            }
    }
    a{
        text-decoration: none;
        color: black;
    }
    #footer{
        width: 100%;
        background-color: rgb(70, 69, 69);
        color: white;
        
        &_member{
           list-style-type: none;
           font-size: 14px;
           line-height: 25px;
           padding-bottom: 10px;
          
           &_title{
               font-family: "Shrikhand";
               font-size: 20px;
               margin-bottom: 15px;
               padding-top: 20px;
           }
           &_mail{
               color: white;
           }
           .footer_member_icon1{
               padding-right: 14px;
           }
           .footer_member_icon2{
               padding-right: 8px;
           }
        } 
       
       }
}