
@media screen and (max-width:768px){
    @font-face {
        font-family: 'Shrikhand';
        src: url("/font/Shrikhand-Regular.ttf") format("ttf");
    }
    @font-face {
        font-family: 'Roboto';
        src: url("/font/Roboto-Italic.ttf") format("ttf"),
             url("/font/Roboto-Bold.ttf") format("ttf"),
             url("/font/Roboto-Regular.ttf") format("ttf"),
             url("/font/Roboto-LightItalic.ttf") format("ttf"),
             url("/font/Roboto-Medium.ttf") format("ttf"),
             url("/font/Roboto-MediumItalic.ttf") format("ttf"),
             url("/font/Roboto-Thin.ttf") format("ttf"),
             url("/font/Roboto-ThinItalic.ttf") format("ttf"),
             url("/font/Roboto-Light.ttf") format("ttf");
    }

    #heading{
        max-width: 100%;
        height: auto;
        padding-bottom: 12px;
        text-align: center;
        margin-top: 30px;
            &_logo{
                width: 40%;
               
            }
        
    }
    #location{
        height: 60px;
        background-color: rgb(236, 233, 233);
        display: flex;
        justify-content: center;
        align-items: baseline;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 6px 0px inset;
            &_icon{
                font-size: 18px;
                color: rgb(53, 52, 52);
                margin-right: 20px;
            }
            &_text{
                font-size: 20px;
                font-weight: bold;
                color:rgb(53, 52, 52);
              
            }

    }
    #info{
        height: 260px;
        background-color:rgb(243, 240, 240);
        padding-top: 1px;
        text-align: center;
        padding-bottom: 70px;
        font-family: Roboto;
       
            &_title{
                font-weight: bolder;
                margin: 30px;
                font-family: Arial;
            }
            &_text{
                font-size: 22px;
                margin: 30px;
                font-weight: lighter;
                color: rgb(90, 89, 89);
            }
            &_btn{
                width:60%;
                height: 50px;
                border-radius: 30px;
                background: linear-gradient(#FF79DA,#9356DC);
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 3px;
                        
                    &--text{
                        color: white;
                        font-size: 18px;
                        // font-weight: bold;
                        font-family: Arial;
                    }   
            
            }
    }
    nav{
        background-color: aqua;
        color: blue;
    }

   
   
  }  
  