//top of the card--green
@mixin squareGreen {
    width: 90px;
    height: 20px;
    color: #488576;
    text-align: center;
    font-weight: 500;
    background-color: $squareColor;
    padding: 5px;
    position: absolute;
    top:15px;
    right: 15px;
}

//Media Query-------------
@mixin mobile-only{
    @media screen and (max-width:map-get($breakpoints,mobile-max)) {
        @content;
    }
}

@mixin tablette-only {
    @media screen and (min-width:map-get($breakpoints,mobile-max)) and (max-width:map-get($breakpoints,tablette-max)) {
        @content;
    }

}
@mixin pc-only {
    @media screen and (min-width:map-get($breakpoints,tablette-max)) {
        @content;
    }
}

@mixin arrow-left{
    #heading_arrow{
        width: 50px;
        height: 40px;
        display: absolute;
        top: 20px;
        left:20px;
        &--left{
            font-size: 20px;
            color: $heading_arrow;
        }
    }
}
//lighted bouton
@mixin button-hover($colour:$primaryColor, $colour2: $secondColor) {
    background: linear-gradient(350deg, lighten($colour, 5%), lighten($colour2, 5%));
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}