//Colours
$primaryColor:#9356DC;
$secondColor:#FF79DA;
$squareColor:#99E2D0;
$white:white;
$ghostWhite:ghostwhite;
$heading_arrow:darkgray;

//Breakpoints

$breakpoints:(mobile-max:768px,tablette-max:1000px,pc-min:1200px);