#heading{
    &_arrow{
       position: absolute;
       left: 20px;
        &--left{
            font-size: 20px;
            color: rgb(66, 65, 65);
        }
    }     
}
#figure{
    height: 340px;
    &_img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        @include pc-only{
            height: 400px;
        }
        @include tablette-only{
            height: 350px;
        }
    }
    figcaption{
            display: flex;
            justify-content: space-between;
            height: 77px;
            background-color: ghostwhite;
            border-radius: 35px 35px 0 0;
            align-items: center;
            padding: 0 20px;
            position: relative;
            bottom: 40px;
            .far{
                font-size: 20px;
                cursor: pointer;
            }
            h2{
                font-family: 'Shrikhand',cursive;
                @include pc-only{
                    font-size: 30px;
                }
            }
            @include tablette-only{
                padding: 0 55px;
                margin-bottom: 20px;
                .far{
                    font-size: 22px;
                }
            }
            @include pc-only{
                padding: 0 40px;
                .far{
                    font-size: 26px;
                }
            }
    }
}
#main_height{
    height: 1250px;
    @include pc-only{
        height: 500px;
    }
}

main{
    background-color:ghostwhite;
    height: 1150px;
    @include tablette-only{
        #section--padding{
            padding-top: 50px;
        }
    }
    @include pc-only{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0 50px 0;
        #mainContainer{
            display: flex;
            justify-content: space-between;
            width: 90%;
        }
        section{
            width: 45%;
        }
    }
    
       
    section{
        margin-bottom: 50px; 
        #container_height{
            height: 350px;
        }
    }
   
    h3{ 
        width: min-content;
        margin-left: 20px;
        color: gray;
        font-weight: normal;
        position: relative;
        @include tablette-only {
            margin-left: 50px;
            font-size: larger;
        }
    }
    h3:before {
        content : "";
        position: absolute;
        left    : 0;
        bottom  : -5px;
        height  : 3px;
        width   : 50%; 
        border-bottom:$squareColor 3px solid;
      }
}
    

    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        margin: 10px;
        height: 250px;
        .card_container{
            width: 90%;
            height: 50px;
            background-color: white;
            padding: 10px;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 15px 0px;

        .card{
       
            &_text{
                display: flex;
                justify-content:space-between;
                padding-top: 5px;
                &--bold{
                    font-weight: 600;
                }

            }
        }
    }
}
