#heading{
    max-width: 100%;
    height: auto;
    padding-bottom: 12px;
    text-align: center;
    margin-top: 30px;
    background-color: pink;
        &_logo{
            width: 30%;
        }
        &_arrow{
            width: 50px;
            height: 40px;
            display: absolute;
            top: 20px;
            left:20px;
            &--left{
                font-size: 20px;
                color: darkgray;
            }
        }     
}
#figure{
    box-sizing: border-box;
    &_img{
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center;
    }
}
