.cards_white_heart{
    font-size: 28px;
    position: absolute;
    right: 20px;
    top: 83%;
}
#heart_solid{
    color: transparent;
    background-image: linear-gradient($secondColor, $primaryColor);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    &:hover{
        opacity: 1;
        transform: scale(1.15);
        transition: transform 1s ease-in-out;
    }
}




