#info{
    height: 260px;
    background-color:ghostwhite;
    padding-top: 1px;
    text-align: center;
    padding-bottom: 70px;
    @include tablette-only{
        padding-bottom: 20px;
    }
    @include pc-only{
        padding-bottom: 20px;
    }
   
        &_title{
            font-weight: bolder;
            margin: 30px;
            @include tablette-only{
                font-size: 28px;
            }
            @include pc-only{
                font-size: 34px;
            }
        }
        &_text{
            font-size: 20px;
            margin: 30px;
            color: rgb(90, 89, 89);
        }
        
}