#info{
    height: 260px;
    background-color:ghostwhite;
    padding-top: 1px;
    text-align: center;
    padding-bottom: 70px;
    @include tablette-only{
        padding-bottom: 20px;
    }
    @include pc-only{
        padding-bottom: 20px;
    }
   
        &_title{
            font-weight: bolder;
            margin: 30px;
            @include tablette-only{
                font-size: 28px;
            }
            @include pc-only{
                font-size: 34px;
            }
        }
        &_text{
            font-size: 20px;
            margin: 30px;
            color: rgb(90, 89, 89);
        }
        &_btn{
            width:250px;
            height: 55px;
            border-radius: 30px;
            background: linear-gradient($secondColor,$primaryColor);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 3px;
            border: none;
                    
                &--text{
                    color: white;
                    font-size: 18px;
                    @include tablette-only{
                        font-size: 20px;
                        font-weight: bold;
                    }
                    @include pc-only{
                        font-weight: bolder;
                    }
                } 
                &:hover{
                    cursor: pointer;
                }  
        }
}