#location{
    height: 60px;
    background-color: rgb(236, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: baseline;
    gap: 25px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 6px 0px inset;
        &_icon{
            font-size: 18px;
            color: rgb(70, 69, 69);
            @include tablette-only{
                font-size: 20px;
            }
            @include pc-only{
                font-size: 22px;
            }
        }
        &_text{
            font-size: 20px;
            font-weight: bold;
            color:rgb(70, 69, 69);
            @include tablette-only{
                font-size: 22px;
            }
            @include pc-only{
                font-size: 24px;
            }
          
        }

}